<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>首信云容器管理系统 -- 首页</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="../static/plugins/font-awesome/css/font-awesome.css">


	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/header.css">


	<!-- CSS Implementing Plugins -->


	<!-- CSS Theme -->


	<!-- CSS Customization -->
	<link rel="stylesheet" href="../static/css/common.css">
	<link rel="stylesheet" href="../static/css/docker.css">
</head>

<!--<body id="body" class="header-fixed header-fixed-space-v2">-->
<body id="body" class="header-fixed">
	<div class="wrapper">
		<!--Header Start-->
		<div class="header">
			<!--navBar -->
            <div class="navbar header-navbar" role="navigation">
                <div class="container">
					<div class="row">
						<div class="col-sm-8 col-xs-8">

							<div class="menu-container">
				        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="sr-only"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

							<!--Header Block Start-->
							<div class="navbar-brand header-block-logs">
								<a href="javascript:void(0);" title="" style="font-size: 12px; color: #fff;">
									<img src="../static/img/logo-splash.svg" alt="首信云" class="img-responsive">
									<!--首信云-->
								</a>
							</div>
							<!--Header Block End-->

                        </div>
                    </div>

							<!-- End Brand and toggle get grouped for better mobile display -->
							<div class="collapse navbar-collapse navbar-responsive-collapse">
								<div class="menu-container">
									<ul class="nav navbar-nav">
										<!--开始 总览-->
										<li class="dropdown">
											<a href="javascript:void(0);" title="">总览</a>
										</li>
										<!--结束 总览-->

										 <!--开始 云产品-->
										<li class="dropdown">
											<a href="javascript:void(0);" title="" class="dropdown-toggle" data-toggle="dropdown">
												云产品
											</a>
											<ul class="dropdown-menu">
												<li>
													<a href="javascript:void(0);" title="">云产品1</a>
												</li>
												<li>
													<a href="javascript:void(0);" title="">云产品2</a>
												</li>
												<li>
													<a href="javascript:void(0);" title="">云产品3</a>
												</li>
											</ul>
										</li>
										 <!--结束 云产品-->

										 <!--开始 云服务器-->
										<li class="dropdown">
											<a href="javascript:void(0);" title="" class="dropdown-toggle" data-toggle="dropdown">
												云服务器
											</a>
											<ul class="dropdown-menu">
												<li>
													<a href="javascript:void(0);" title="">云服务器</a>
												</li>
											</ul>
										</li>
										 <!--结束 云服务器-->

										 <!--about Me-->
										<li>
											<a href="templates/resuMe.html" title="" target="_blank">
											  about Me
											</a>
										</li>
										 <!--End about Me-->
									</ul>
								</div>
							</div>

						</div>

						<div class="col-sm-4 col-xs-4">
							<!--右面的ul-->
							<ul class="topbar-list topbar-log_reg pull-right visible-sm-block visible-md-block visible-lg-block">
								<li style="height: 100%;display: block;">
									<a href="javascript:void(0);" title="">
										<i class="fa fa-user fa-fw"></i>
										爱新觉罗·玄烨
										<span class="caret"></span>
									</a>
									<ul class="dropdown-right" role="menu">
										<li>
											<a href="">
												<i class="fa fa-sign-out fa-fw"></i>
												&nbsp;退出
											</a>
										</li>
									</ul>
								</li>
							</ul>

						</div>
					</div>

                </div>
            </div>
            <!--End navBar -->
		</div>
		<!--Header End-->

		<!--Contnet Start-->
		<div class="content clearFix">

			<!--LeftSider Start-->
			<div class="aside aside-new" id="sidebar">
				<div class="aside-area">
					<div class="aside-area-main">
						<h2 class="aside-headline">容器服务</h2>
						<!--导航 开始-->
						<ul class="aside-list">
							<li class="clearFix aside-list-li">
								<a href="javascript:void(0);" title="" class="active">
									<img src="../static/img/svg/overview.svg" alt="" class="aside-li-a">
									<span class="aside-li-a">概览</span>
								</a>
							</li>
							<li class="aside-title">
								<span>应用中心</span>
							</li>
							<li class="clearFix aside-list-li">
								<a href="javascript:void(0);" target="_self">
									<img src="../static/img/svg/colony.svg" alt="" class="aside-li-a">
									<span class="aside-li-a">集群</span>
								</a>
							</li>
							<li class="clearFix aside-list-li">
								<a href="javascript:void(0);" target="_self">
									<img src="../static/img/svg/application.svg" alt="" class="aside-li-a">
									<span class="aside-li-a">应用</span>
								</a>
							</li>
							<li class="clearFix aside-list-li">
								<a href="javascript:void(0);" target="_self">
									<img src="../static/img/svg/service.svg" alt="" class="aside-li-a">
									<span class="aside-li-a">服务</span>
								</a>
							</li>

							<li class="aside-title">
								<span>交付中心</span>
							</li>
							<li class="clearFix images aside-list-li">
								<a href="javascript:void(0);" target="_self">
									<img src="../static/img/svg/ware.svg" alt="" class="aside-li-a">
									<span class="aside-li-a">镜像仓库</span>
									<!--<i class="caret aside-li-a"></i>-->
								</a>
								<!--<ul class="my-images display-default-none">-->
									<!--<li>-->
										<!--<a href="" title="">-->
											<!--<i class="fa fa-info-circle"></i>-->
											<!--<span>我的镜像</span>-->
										<!--</a>-->
									<!--</li>-->
								<!--</ul>-->
							</li>
							<li class="clearFix aside-list-li">
								<a href="javascript:void(0);" target="_self">
									<img src="../static/img/svg/configure.svg" alt="" class="aside-li-a">
									<span class="aside-li-a">配置项</span>
								</a>
							</li>

							<li class="aside-title">
								<span>运维中心</span>
							</li>
							<li class="clearFix aside-list-li">
								<a href="javascript:void(0);" target="_self" class="aside-list-li">
									<img src="../static/img/svg/logs.svg" alt="" class="aside-li-a">
									<span class="aside-li-a">日志</span>
								</a>
							</li>

						</ul>
						<!--导航 结束-->
					</div>

				</div>


			</div>
			<!--LeftSider End-->

			<!--右侧内容区域-->
			<div class="aside-right">
				<div class="all-areas">
					<div class="margin-areas-titles">
						<h2>概览</h2>
					</div>
					<div class="margin-areas-main">
						<div class="manage-area-main-inner">
							<div class="show-panel">
								<div class="blank-page">
									<div class="text-argin">
										<h2>欢迎使用首信云容器服务</h2>
										<div class="guide-steps">
											<ul class="clearFix">
												<li class="border-li">
													<div class="">
														<h5><i class="fa fa-info-circle"></i>创建集群</h5>
													</div>
													<p>
														可通过控制台创建集群
													</p>
												</li>
												<li class="border-li">
													<div class="">
														<h5><i class="fa fa-info-circle"></i>上传容器镜像</h5>
													</div>
													<p>
														可通过控制台，上传镜像到仓库
													</p>
												</li>
												<li class="border-li">
													<div class="">
														<h5><i class="fa fa-info-circle"></i>创建服务</h5>
													</div>
													<p>
														可通过控制台，进行服务的创建
													</p>
												</li>
												<li>
													<div class="">
														<h5><i class="fa fa-info-circle"></i>访问服务</h5>
													</div>
													<p>
														通过控制台的访问入口访问服务
													</p>
												</li>
											</ul>
										</div>
									</div>
									<div class="create-btns">
										<button class="" title="创建集群">创建集群</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>

		</div>
		<!--Contnet End-->
	</div>

<!-- Wait Block -->

<!-- End Wait Block -->

<!-- JS Global Compulsory -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->

<!-- JS Customization -->

<!-- JS Page Level -->
<script src="../static/js/cluster.js"></script>

</body>


</html>
