{% load staticfiles %}
{% block content_main %}

<div class="aside-right">
    <div class="all-areas">
        <div class="margin-areas-titles">
            <h2>概览</h2>
        </div>
        <div class="margin-areas-main">
            <div class="manage-area-main-inner">
                <div class="show-panel">
                    <div class="blank-page">
                        <div class="text-argin">
                            <h2>欢迎使用首信云容器服务</h2>
                            <div class="guide-steps">
                                <ul class="clearFix">
                                    <li class="border-li">
                                        <div class="">
                                            <h5><i class="fa fa-info-circle"></i>创建集群</h5>
                                        </div>
                                        <p>
                                            可通过控制台创建集群
                                        </p>
                                    </li>
                                    <li class="border-li">
                                        <div class="">
                                            <h5><i class="fa fa-info-circle"></i>上传容器镜像</h5>
                                        </div>
                                        <p>
                                            可通过控制台，上传镜像到仓库
                                        </p>
                                    </li>
                                    <li class="border-li">
                                        <div class="">
                                            <h5><i class="fa fa-info-circle"></i>创建服务</h5>
                                        </div>
                                        <p>
                                            可通过控制台，进行服务的创建
                                        </p>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h5><i class="fa fa-info-circle"></i>访问服务</h5>
                                        </div>
                                        <p>
                                            通过控制台的访问入口访问服务
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="create-btns">
                            <button class="" title="创建集群">创建集群</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}