{% load staticfiles %}
{% block slider %}
<!--Contnet Start-->
<div class="aside aside-new" id="sidebar">
    <div class="aside-area">
        <div class="aside-area-main">
            <h2 class="aside-headline">容器服务</h2>
            <!--导航 开始-->
            <ul class="aside-list">
                <li class="clearFix aside-list-li">
                    <a href="javascript:void(0);" title="" class="active">
                        <img src="../static/img/svg/overview.svg" alt="" class="aside-li-a">
                        <span class="aside-li-a">概览</span>
                    </a>
                </li>
                <li class="aside-title">
                    <span>应用中心</span>
                </li>
                <li class="clearFix aside-list-li">
                    <a href="javascript:void(0);" target="_self">
                        <img src="../static/img/svg/colony.svg" alt="" class="aside-li-a">
                        <span class="aside-li-a">集群</span>
                    </a>
                </li>
                <li class="clearFix aside-list-li">
                    <a href="javascript:void(0);" target="_self">
                        <img src="../static/img/svg/application.svg" alt="" class="aside-li-a">
                        <span class="aside-li-a">应用</span>
                    </a>
                </li>
                <li class="clearFix aside-list-li">
                    <a href="javascript:void(0);" target="_self">
                        <img src="../static/img/svg/service.svg" alt="" class="aside-li-a">
                        <span class="aside-li-a">服务</span>
                    </a>
                </li>

                <li class="aside-title">
                    <span>交付中心</span>
                </li>
                <li class="clearFix images aside-list-li">
                    <a href="javascript:void(0);" target="_self">
                        <img src="../static/img/svg/ware.svg" alt="" class="aside-li-a">
                        <span class="aside-li-a">镜像仓库</span>
                        <!--<i class="caret aside-li-a"></i>-->
                    </a>
                    <!--<ul class="my-images display-default-none">-->
                        <!--<li>-->
                            <!--<a href="" title="">-->
                                <!--<i class="fa fa-info-circle"></i>-->
                                <!--<span>我的镜像</span>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                </li>
                <li class="clearFix aside-list-li">
                    <a href="javascript:void(0);" target="_self">
                        <img src="../static/img/svg/configure.svg" alt="" class="aside-li-a">
                        <span class="aside-li-a">配置项</span>
                    </a>
                </li>

                <li class="aside-title">
                    <span>运维中心</span>
                </li>
                <li class="clearFix aside-list-li">
                    <a href="javascript:void(0);" target="_self" class="aside-list-li">
                        <img src="../static/img/svg/logs.svg" alt="" class="aside-li-a">
                        <span class="aside-li-a">日志</span>
                    </a>
                </li>

            </ul>
            <!--导航 结束-->
        </div>

    </div>
</div>
<!--Contnet End-->
{% endblock %}