@charset "UTF-8";

body{
    background-color: #5e5e5e;
}

body.header_fixed .header_fixed_space_50{
    padding-top: 50px;
}
.wrapper{
    height:100%;
    background-color: #fff;
}
.header_v1{
    background-color: #fff;
}
.header_v1.header_other_style{
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
}
.navbar-brand.navbar_brand_style{
    width: 64px;
    height: 50px;
    padding:0;
}
.navbar-brand.navbar_brand_style > a{
    width: 100%;
    height:100%;
    line-height: 50px;
}
.navbar-brand.navbar_brand_style > a > img{
    width: 64px;
    vertical-align: middle;
}

.navbar-default.navbar_style{
    border:none;
}
@media (min-width: 1200px){
    .header_fixed .container.header_container{
        width:96% !important;
    }
}



/*侧边导航栏 开始*/
.aside{
    position: absolute;
    left:0;
    top: 80px;
    bottom: 0;
    width: 220px;
    /*height:100%;*/
    background-color: #e7e7e7;
    z-index: 3;
}

.aside .aside-area{
    width:100%;
    height:100%;
    /*background-color: #2b542c;*/
}
.aside .aside-area .aside-area-main{
    position: relative;
    width:100%;
    height:100%;
    /*background-color: #72c02c;*/
}
h2.aside-headline{
    font-size: 18px;
    display: block;
    width:100%;
    line-height: 50px;
    padding:0px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*background-color: gray;*/
}
.aside-list{
    /*position: absolute;*/
    /*top: 50px;*/
    /*bottom: 0px;*/
    /*left: 0px;*/
    /*right: 0px;*/
    /*padding:0px 20px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*background-color: #f1f1f1;*/
}
.aside-list > li{
    position: relative;
    display: block;
}

.aside-list > li > a{
    display: inline-block;
    width:100%;
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.aside-list > .aside-list-li.active > a .aside-li-a{
    display: inline-block;
}

.aside-list > li > a img.aside-li-a{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 23px;
    margin-top: 6px;
}
.aside-list > li > a span.aside-li-a{
    display: inline-block;
    margin-left: 10px;
    vertical-align: text-top;
    font-size: 14px;
    line-height: 18px;
    padding: 4px 0;
}
.aside-list > li > a i.aside-li-a{
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
    margin-top: 4px;
}
.aside-list > .aside-list-li.active > a{
    background-color: rgba(0,0,0,0.2);
}
.aside-list > .aside-list-li.active > a span.aside-li-a{
    color: #23527c;
    font-weight: 600;
    font-size: 16px;
}
.aside-list > li > a:hover{
    color: #eee;
    background-color: rgba(0,0,0,0.2);
}
.aside-list > li > a span{
    margin-left: 10px;
}
.aside-title{
    padding:10px 20px;
}

.display-default-none{
    display: none;
}
.display-change-block{
    display: block;
}
/*ul.my-images{*/
    /*width:100%;*/
    /*height: auto;*/
    /*!*display: none;*!*/
/*}*/
/*ul.my-images > li{*/
    /*padding:10px 23px;*/
    /*font-size: 14px;*/
    /*background-color: #ffe;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
/*}*/
/*ul.my-images > li span{*/
    /*margin-left: 14px;*/
/*}*/
/*侧边导航栏 结束*/



/* Topbar List */
.topbar-list {
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
	float: left;
}
.topbar-list > li {
	font-size: 10px;
    line-height: 50px;
	position: relative;
	letter-spacing: 1px;
	display: block;
	text-transform: uppercase;
}

.topbar-list li:last-child {
	padding-right: 0;
}
.topbar-list li a {
	color: #000;
}
.topbar-list li a:hover {
	color: #666;
	text-decoration: none;
}
.topbar-list li a:hover ul li a{
	color: #000;
}

.topbar-log_reg li.home:before {
	display: none;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
ul.topbar-log_reg{
    height: 50px;
}
.topbar-list li .dropdown-right{
    display: none;
}
.topbar-list li:hover .dropdown-right{
    display: block;
}
.dropdown-right{
    width: 100%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
}
.dropdown-right > li{
    line-height: 0;
    padding:10px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dropdown-right > li > a{
    color: #333;
}
.dropdown-right > li > a:hover{
    color: #222;
}


.content{
    height:100%;
    /*background-color: gray;*/
}
/*右侧区域 开始*/
.admin_conn{
    width:100%;
    height:100%;
    padding: 70px 0 0 220px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*background-color: #000;*/
}
.admin_conn .mess_conn{
    width:100%;
    height:100%;
    background-color: #fff;
}

.admin_conn .mess_conn .mess_header_main{
    position: relative;
    padding:10px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*background-color: #ABCDEF;*/
    width:100%;
    height:100%;
}

.header_lines{
    background-color: #eee;
}
.header_lines h5{
    font-size: 18px;
    display: block;
    width:100%;
    line-height: 50px;
    padding:5px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mess_header_main .main_lines{
    position: absolute;
    left: 10px;
    right: 10px;
    top: 80px;
    bottom: 0px;
    /*background-color: #000;*/
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main_lines .main_lines_in{
    border: 1px solid #eee;
    width: 100%;
    height: 100%;
    background-color: #fff
}
.main_lines_in .new_btns{
    width:100%;
    /*height: 50px;*/
    /*line-height: 50px;*/
    font-size: 16px;
    /*background-color: gray;*/
}
.main_lines_in .new_btns_link_mess{
    position: absolute;
    left: 10px;
    top: 62px;
    right: 10px;
    bottom: 10px;
    /*background-color: yellow;*/
}

/*概览界面*/

.margin-areas-main{
    width:100%;
    height:100%;
    background-color: #f2f2f2;
    padding:0px 0px 30px 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.manage-area-main-inner{
    max-width:1300px;
    margin: 0 auto;
    /*background-color: #222;*/
}
.show-panel{
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
    padding: 20px 0px;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.blank-page{
    text-align: center;
    padding: 30px 0;
    max-width: 80%;
    margin: 0 auto;
    /*background-color: gray;*/
}
.blank-page .text-argin{
    line-height: 30px;
    margin-bottom: 30px;
}
.blank-page .text-argin h2{
    font-size: 16px;
    font-weight:600;
    margin-bottom: 10px;
}
.blank-page .text-argin .guide-steps{
    margin: 20px 0;
    padding:20px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*background-color: red;*/
    border: 1px solid #bcd6f4;
 }
.guide-steps ul{
    width:100%;
}
.guide-steps ul li{
    display: inline-block;
    width:25%;
    float: left;
    margin: 20px 0;
}
.guide-steps ul li h5{
    font-size: 16px;
    font-weight:600;
    line-height: 20px;
}
.guide-steps ul li h5 i{
    margin-right: 10px;
}
.guide-steps ul li.border-li{
    border-right: 1px solid #bcd6f4;
}
.guide-steps ul li p {
    line-height: 18px;
    padding: 10px 20px;
    font-size: 12px;
    color: #888;
}

.blank-page .create-btns{
    padding:10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.blank-page .create-btns button{
    border:none;
    height: 30px;
    line-height: 28px;
    padding: 0 20px;
    color: #fff;
    background-color: #006eff;
}
.blank-page .create-btns button:hover{
    background-color: #0058cc;
}

/*右侧区域 结束*/


/*集群样式 开始*/
table thead tr th,
table tbody tr td{
    font-size: 14px;
    text-align: center;
    word-wrap:break-word;
    white-space: nowrap;
    padding: 10px 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*中间内容 结束*/

table{
    border: 1px solid #ddd;
}
table > thead > tr > th,
table > tbody > tr > td{
    color: #888;
}
table > tbody > tr > td > button.controller_btns{
    border: none;
    padding:2px 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
table > tbody > tr > td  button.controller_btns:hover,
table > tbody > tr > td  button.controller_btns:active,
table > tbody > tr > td  button.controller_btns:focus{
    background-color: #ccc;
    color: #eee;
}

/*集群样式 结束*/

.border_right_color{
    border-right:1px solid #ddd;
}